{% extends "base.html" %}
{% block content %}
            <div class="row">
                <div class="col s6">
                <ul class="collection with-header">
                <li class="collection-header"><h4>Conversaciones</h4></li>
                <!-- Listamos todas las conversaciones abiertas en las que aparece, y el llistado de los usuarios con los que todavia no tiene niguna-->
                 {% for usu,ch in chats.items%}
                 
                <li class="collection-item col s12">
                  <div class="col s2"><img class="circle miniatura" src="/media/{{usu.photo}}"></div>
                  <div class="col s10 "> <a class="col s10" href="./{{ch}}" target="blank"><h4>{{usu.username}} - {{usu.estado}}</h4></a> 
                  </div>
                </li>
                 {%endfor%}
                 </ul>
                 </div>
                  <div class="col s6">
                <ul class="collection with-header">
                <li class="collection-header"><h4>Usuarios</h4></li>
                <!-- Listamos todas las conversacion el listado de los usuarios con los que todavia no tiene niguna-->
                 {% for nc in nchats%}
                <li class="collection-item col s12">
                 <div class="col s2"><img class="circle miniatura" src="/media/{{nc.photo}}"></div>
                <div class="col s10 ">  <a href="/new/{{usuario.id}}/{{nc.id}}/" target="blank"><h4 class=".center-align">{{nc.username}} - {{nc.estado}}</h4></a>
               
              </div>
              </li>
                 {%endfor%}
                 </ul>
                 </div>
 </div>
{% endblock%}