{% extends "base.html" %}
{% load emoji_tags %}
{% load mimetypes %}
{% block content %}
            <div class="row">
             
      <div class="col s12 blue lighten-5"><div class="valign-wrapper"><img class="circle miniatura" src="/media/{{usurec.photo}}"><h3 class="flow-text">Conversacion con <a href="/profile/{{usurec.id}}">{{usurec}}</a></h3> </div></div></div>
    <div class="row indigo lighten-5 conntenedor" style="height:70vh; overflow-y: scroll;">
    {% for ms in msgs%}
      {%if ms.usuario == usuario%}    
      <div class="col s12  right-align"><div class="flow-text teal offset-s8 col s4 lighten-4 z-depth-2">{%if ms.fichero != null %}{% autoescape off %}{{ms.fichero|filetype}}{% endautoescape%} {%endif%}<span class=" ">{{ms.texto|emoji_replace}}</span></div></div> 
      {%else%}
      <div class="col s12"><div class="flow-text col s4 z-depth-2">{%if ms.fichero != null %}{% autoescape off %}{{ms.fichero|filetype}}{% endautoescape%} {%endif%}<span class=" ">{{ms.texto|emoji_replace}}</span></div> </div>
      
     {%endif%}
      {%endfor%}
 </div>
 <div class="row"><form enctype="multipart/form-data" action="{{request.url}}" method="post">
    {% csrf_token %}
    {{ form }}
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1"><i class="material-icons">face</i></a>
    
    <button class="btn rounded waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right">send</i>
      </button>
</form></div>

<!-- Modal Structure -->
  <div id="modal1" class="modal ">
    <div class="modal-content">
      <h4>Modal Header</h4>
      {% for emoji in emojis %}
           <div class="emoticono" id="{{emoji}}"> {{ emoji|emoji_replace }} </div>
    {% endfor %}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{% endblock%}