{% extends "base.html" %}
{% block content %}
            <div class="row">
             
      <div class="col s12 blue lighten-5"><div class="valign-wrapper"><img class="circle miniatura" src="/media/{{usurec.photo}}"><h3 class="flow-text">Conversacion con <a href="/profile/{{usurec.id}}">{{usurec}}</a></h3> </div></div></div>
    <div class="row indigo lighten-5 conntenedor" style="height:70vh;">
    {% for ms in msgs%}
      {%if ms.usuario == usuario%}         
      <div class="col s12  right-align"><span class="flow-text teal lighten-4 z-depth-2 ">{{ms.texto}}</span></div> 
      {%else%}
      <div class="col s12"><span class="flow-text z-depth-2">{{ms.texto}}</span></div> 
      
     {%endif%}
      {%endfor%}
 </div>
 <div class="row"><form action="{{request.url}}" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="btn rounded waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right">send</i>
      </button>
</form></div>
 
{% endblock%}